# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
backend/venv/

# Environment Variables
backend/.env

# Temporary Images
backend/uploads/
backend/processed/
backend/fields/

# macOS
.DS_Store