fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
python-multipart

numpy
opencv-python-headless
Pillow
scikit-image
scipy
shapely
pyclipper

easyocr
rapidfuzz
google-genai

ultralytics
torch
torchvision

PyYAML
requests
