fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
python-multipart

numpy
opencv-python
Pillow
scikit-image
scipy
shapely
pyclipper

easyocr

ultralytics
torch
torchvision

PyYAML
requests
